#mobile_quote_bottom_custom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 15px 10px;
}
#mobile_quote_bottom_custom a{
    background: #FF7A00;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), inset 3px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center;
    display: block;
    color: #fff;
    position: relative;
}
#mobile_quote_bottom_custom a i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}
#mobile_quote_bottom_custom.hide{
    display: none !important;
}

















