/* XL (laptop) Device :1200px. */
@media (min-width: 576px) and (max-width: 4500px) {
    #form_area.web_ty_4 .form_areaContainer {
        min-height: 100vh;
    }
}



/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    #BanarArea .BanarAreaContent h3 {
        font-size: 38px;
    }
    #form_area .form_areaContainer {
        width: 90%;
        margin-left: 0px;
    }
    #form_area .form_areaContainer .form_areaForm {
        margin-top: 20px;
    }
    #banar_bottom .banar_bottomContent img {
        height: 100%;
        width: 100%;
    }
    #formula_area .formula_areaContent h4 {
        font-size: 24px;
        line-height: 32px;
        position: relative;
    }
    #banar_bottom .banar_bottomContent p {
        font-size: 16px;
    }
}
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #BanarArea .BanarAreaContent h3 {
        font-size: 30px;
    }
    #BanarArea .BanarAreaContent p {
        font-size: 16px;
        margin-top: 20px;
        line-height: 160%;
    }
    #banar_bottom .banar_bottomContent p {
        font-size: 15px;
    }
    #banar_bottom .banar_bottomContent img {
        width: 100%;
    }
    #formula_area .formula_areaContent h4 {
        font-size: 21px;
        line-height: 32px;
        position: relative;
    }
    #form_area .form_areaContainer {
        width: 100%;
        padding: 10px 20px;
        z-index: 9999999999999;
        margin-left: 0px;
    }
    #form_area .form_areaContainer .form_areaTop p {
        margin-top: 15px;
        font-size: 14px;
    }
    #form_area .form_areaContainer .form_areaForm {
        margin-top: 20px;
    }
    .form_areaTop.text-center img {
        height: 12px;
    }
    #form_area .form_areaContainer .form_areaForm form input {
        font-size: 14px;
        margin-bottom: 7px;
    }
    #form_area.web_ty_4 .form_areaContainer .webtype_4_new_top p {
        font-size: 14px;
    }
}
/* Extra small Device. */
@media (max-width: 575px) {
    
}
/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    
}
@media (max-width: 767px) {
    .hide_mobile{
        display: none !important;
    }
    .BanarArea_ract{
        display: none;
    }
    .show_mobile{
        display: block !important;
    }
    #banar_bottom .banar_bottomContent p {
        font-size: 16px;
        width: 100%;
    }
    #banar_bottom .banar_bottomContent .bottom {
        margin-top: 29px;
        font-size: 15px;
    }
    #formula_area .formula_areaContent h4 {
        font-size: 14px;
        width: 100%;
        line-height: 30px;
    }
    .formula_areaContent_slider_item img{
        width: auto !important;
        margin: 0 auto;
    }
    .formula_areaContent_slider .owl-nav{
        display: block !important;
    }
    .bottom_shpe {
        display: none;
    }
    #formula_area .formula_areaContent .formula_areaContent_slider .formula_areaContent_slider_item p {
        text-align: center;
        margin-top: 14px;
        font-size: 17px;
        color: #1A1A1A;
    }
    #formula_area{
        position: relative;
    }
    #formula_area:after{
        height: 47%;
        width: 100%;
        left: 0;
        bottom: 0;
        background: #F8F4FF;
        content: "";
        position: absolute;
    }
    .banar_path_thank{
        display: none;
    }
    #type_2_thank .type_2_thank_left {
        text-align: center;
    }
    #type_2_thank .type_2_thank_left h4 {
        font-size: 23px;
        color: #4A15A0;
        width: 100%;
        line-height: 32px;
    }
    #type_2_thank .type_2_thank_left p {
        width: 100%;
    }
    #type_2_thank .type_2_thank_right {
        margin-top: 50px;
    }
    #form_area {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 99999999999999;
        background: #F4EEFF;
    }
    #form_area.web_ty_4 .form_areaContainer {
        background: linear-gradient(180deg, #4A15A0 19.33%, #681CE7 100%);
        border-radius: 0px 0px 10px 10px;
        position: relative;
        width: 95%;
        margin: 0 auto;
        border-radius: 0px;
        padding: 60px 12px 80px 12px;
    }
    #form_area.web_ty_4 .form_areaContainer .main_form {
        margin-top: 0px;
    }
    #banar_mobile {
        padding-bottom: 52px;
    }
    #form_area.web_ty_4 .form_areaContainer .main_form form .form_3_input2 #NumberError {
        position: absolute;
        bottom: -33px;
        left: 0;
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        font-style: italic;
    }
    #form_area.web_ty_4 .form_areaContainer .main_form form .form_3_input3 #emailMessage {
        position: absolute;
        bottom: -32px;
        left: 0;
        font-weight: 300;
        font-size: 11px;
        color: #fff;
        font-style: italic;
    }
    section#form_area.fix {
        position: fixed;
        top: 24px;
        left: 0;
        height: auto;
    }
    .top_fix_web_4{
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    }
    #form_area.form_area2 {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 99999999999999;
        background: #fff;
    }
    #form_area.form_area2 .type_2_thank_right {
        box-shadow: none;
        text-align: center;
    }
    #form_area.form_area2 .type_2_thank_right {
        width: 100%;
    }
    #BanarArea.thank_banar_fix .BanarAreaContent h3 {
        font-weight: 500;
        font-size: 24px;
        color: #4A15A0;
        line-height: 37px;
    }
    #form_area, #form_area2 {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 99999999999999;
    }
    #form_area2.form_area_2 .type_2_thank_right {
        width: 100%;
        min-height: 100vh;
    }
    #form_area2 .type_2_thank_right .type_2_thank_right_thank {
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }












}



